<link type="text/css" rel="stylesheet" href="../../css/marker.css"/>
<div class="div_marker">
	<div class="div_title" align=center>
		<p>Here we put the title</p>
	</div>
	<div class="div_thumb" align=center>
		<img src="../temp/dropthmbnail2.png" class="img_thumb"/>
		<img src="../temp/emojichallenge.png" class="img_emoji"/>
	</div>
</div>
