.div_bottom
{
	background-image: url('../assets/Rounded_Bottom.png');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100% 100%;
}

.img_bottom
{
	width: 100px;
	height: 100px;
}
