html
{
	width:220px;
	max-height: 300px;
}

body
{
	padding: 0px;
	margin:0px;
}

.div_marker
{
	background-color: none;
	
	width: 200px;
}

.div_thumb
{
	background-color: black;

	width: 200px;
	height: 200px;

	border-radius: 110px;
	border-width: 10px;
	border-color: red;
	border-style: solid;

	margin-left: 0px;
	padding-left: 0px;

	position: fixed;
}

.img_thumb
{
	width: 230px;
	height: 230px;
	
	position: absolute; 
	
	top: -15px;
	left:-15px;
}

.img_emoji
{
	width: 45px;
	height: 45px;

	position: absolute; 
	top: 145px;	
	left:160px;
}

.div_title
{
	background-color: black;
	color: white;

	width: 220px;
	height: 200px;

	position: fixed;
	top: 116px;
	
	border-radius: 10px;
}

.div_title p{position : relative;top: 80px;color : white;font-size: 30px;}

/* SHADOWS */
.div_thumb_chlng_shadow
{
	-webkit-box-shadow: 0px -17px 52px 7px rgba(5,41,247,0.75);
	-moz-box-shadow: 0px -17px 52px 7px rgba(5,41,247,0.75);
	box-shadow: 0px -17px 52px 7px rgba(5,41,247,0.75);
}

.div_title_chlng_shadow
{
	-webkit-box-shadow: 0px 16px 52px 7px rgba(5,41,247,0.75);
	-moz-box-shadow: 0px 16px 52px 7px rgba(5,41,247,0.75);
	box-shadow: 0px 16px 52px 7px rgba(5,41,247,0.75);
}

.div_thumb_nochlng_shadow
{
	-webkit-box-shadow: 0px 0px 52px 7px rgba(5,41,247,0.75);
	-moz-box-shadow: 0px 0px 52px 7px rgba(5,41,247,0.75);
	box-shadow: 0px 0px 52px 7px rgba(5,41,247,0.75);
}